.Rproj.user
.Rhistory
.RData
.Ruserdata

*.pyc
*.p
*.png
*.DS_Store
*.aux
*.fdb_latexmk
*.fls
*.ipynb
*.xml
*.yml
.idea
.idea/.name
.idea/encodings.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/SeabirdCode.iml
.idea/vcs.xml
.idea/workspace.xml
