.Rproj.user
.Rhistory
.RData
.Ruserdata

*.pyc

seabird/tools/seabird_preprocessing.pyc

*.csv

*.p

*.pyc

*.png

analysis/.Rhistory

*.zip

*.pdf
*.txt
analysis/.DS_Store
.DS_Store
summary_SQL.py
.DS_Store
*.aux
*.fdb_latexmk
*.fls
*.xml
*.ipynb
*.xml
*.iml
*.xml
