<!doctype html>
<html lang="en">
  <head>
    <meta charset='utf-8' />
    <meta http-equiv='content-type' content='text/html; charset=utf-8' />

    <title>Seabird CTD Features Automated Detection</title>

    {{ js_resources|indent(4)|safe }}

    {{ css_resources|indent(4)|safe }}

    {{ plot_script|indent(4)|safe }}
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</style>

  </head>
  <body>
    
    <div class="row">
      <div class="col-xs-8">
        <p>This is a program to automatically detect the depths of thermocline (TRM), lower epilimnion(LEP), upper hypolimnion and deep chlorophyll layers (DCL) and fluorescence concentration at DCL</p>
      </div>
    </div>
   
   <br>
    
    <div class="row">
      <div class="col-xs-3">
        
        <br>
        <form name="filebutton" method=post enctype=multipart/form-data>
            <div class="form-group">
                <p class="help-block">Select the files (SeaBird CNV file) and click the button </p>
                <input type="file" name="file">
                
            </div>
            <br>
            <input class="btn btn-default" type="submit" value = "Identify/Clean">
        </form>
        <br>
        <br>
        <p>TRM (<font color="red" font- weight ="bold">---</font>): {{depth_TRM}} m</p>
        <p>LEP (<font color="blue" font- weight ="bold">---</font>): {{depth_LEP}} m</p>
        <p>UHY (<font color="black" font- weight ="bold">---</font>):{{depth_UHY}} m</p>
        <p>DCL (<font color="green" font- weight ="bold">---</font>): {{depth_DCL}} m</p>
        <p>DCL Conc: {{conc_DCL}} mg/L</p>
        <p>DCL Propo: {{Prop_DCL}} </p>
        <p>DCL upper shape fit R^2 {{leftShapeR2}} </p>
        <p>DCL bottom shape fit R^2: {{rightShapeR2}} </p>
      </div>

    
      <div class = "col-xs-4">
        {{ plot_div|indent(4)|safe }}
      </div>
    </div>

  </body>
</html>