<!doctype html>
<html lang="en">
  <head>
    <meta charset='utf-8' />
    <meta http-equiv='content-type' content='text/html; charset=utf-8' />

    <title>Seabird CTD Features Automated Detection</title>

    {{ js_resources|indent(4)|safe }}

    {{ css_resources|indent(4)|safe }}

    {{ plot_script|indent(4)|safe }}

  </head>
  <body>
    
    <p> Please upload your SeaBird CNV file </p>

    <form name="filebutton" method=post enctype=multipart/form-data>
        <input type="file" name="file">
        <input type="submit" value = "Identify/Clean">
    </form>
    
    <p>TRM(Red): {{depth_TRM}} m</p>
    <p>LEP(Blue): {{depth_LEP}} m</p>
    <p>UHY(Black): {{depth_UHY}} m</p>
    <p>DCL(Green): {{depth_DCL}} m</p>
    <p>DCL Propo: {{Prop_DCL}} </p>
   
    {{ plot_div|indent(4)|safe }}
   

  </body>
</html>